body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}


/* Estilo del pie de página */
.footer {
    
    color: #070707; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
    position: fixed; /* Fijar el pie de página en la parte inferior de la ventana del navegador */
    left: 0; /* Alinear el pie de página a la izquierda */
    bottom: 0; /* Alinear el pie de página en la parte inferior */
    width: 100%; /* Ancho del pie de página */
  }
  